<div *ngIf="tracks && tracks.length != 0" class="row justify-content-center">
    <div class="hlist d-flex flex-nowrap">
        <div *ngFor="let track of tracks" class="trackbox text-white pr-2" (click)="loadVideo(track)">
            <img *ngIf="video != track" class="track" src="{{'https://img.youtube.com/vi/' + track.youtube + '/mqdefault.jpg'}}">
            <div *ngIf="video == track" class="track">
                <youtube-player class="justify-content-center" width="320px" height="180px" suggestedQuality="default" videoId="{{track.youtube}}"
                    (stateChange)="onStateChange($event)"
                    (ready)="onReady($event)">
                    Loading...
                </youtube-player>
            </div>
            <div [innerHTML]="track.title"></div>
            <div class="d-flex align-items-center">
                <a *ngIf="track.albumid" class="pr-2" href="{{'https://musicbrainz.org/release-group/' + track.albumid}}" target="_blank">
                    <img class="musicbrainz">
                </a>
                <a *ngIf="track.artistid" (click)="component.loadEvents(track.artistid)">
                    <img class="songkick">
                </a>
            </div>
        </div>
    </div>
</div>