<div class="d-flex flex-column align-items-start h-100 p-2 bg-white" [ngStyle]="{'width':'130px'}">
  <div *ngFor="let track of doc.tracks" class="cover" (click)="loadVideo(track)">
    <img *ngIf="track.youtube" class="cover mb-2" src="{{'https://img.youtube.com/vi/' + track.youtube + '/default.jpg'}}"/>
    <span *ngIf="track.youtube" class="youtube"></span>
  </div>
  <div *ngIf="links && links.length != 0">
    <div *ngFor="let link of links">
      <div *ngIf="doc.spartistid != null && doc.spartistid == link.spartistid" class="cover-link card mx-auto mb-1">
        <a class="cover-link" [routerLink]="['/' + link.type + 's/' + link.id]">
          <img *ngIf="link.coverM == null" class="cover-link card-img-top" src="{{link.cover}}"/>
          <img *ngIf="link.coverM != null" class="cover-link card-img-top" src="{{link.coverM}}"/>
        </a>
        <div class="card-body p-0">
          <!--div class="text-truncate-1" [innerHTML]="link.title"></div-->
          <div class="text-truncate-1 text-muted text-uppercase">{{link.type}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="video != null" class="d-flex flex-row fixed-bottom" [ngStyle]="{'width':'380px'}">
  <iframe [src]='youtubeURL()' type="text/html" width="350" height="200" frameborder="0">
  </iframe>
  <div class="close" (click)="close($event)">
    <span class="close"></span>
  </div>
</div>
