.card {
    border-style: none;
}
  
.card-body {
    position: relative;
    width: 250px;
    height: 80px;
}

.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

.card-footer {
    border-style: none;
    background: none;
    position: absolute;
    bottom: 0px;
  }

div.video-m {
    width: 250px;
    position: relative;
}
  
a.video-m {
    width: 250px;
    height: 150px;
}

img.video-m {
    width: 250px;
    height: 150px;
    object-fit:cover;
}

.player {
    width: 300px;
}

.close {
    bottom: 5px;
    right: 5px;
    position: absolute;
}

a.cover-m {
    width: 40px;
    height: 40px;
}

img.cover-m {
    width: 40px;
    height: 40px;
    object-fit:cover;
}
