<div *ngIf="tracks && tracks.length != 0" class="row d-flex justify-content-center bg-white pt-2 pb-2">
    <div *ngFor="let track of tracks" class="pb-2 pl-1 pr-1" (click)="loadVideo(track)">
      <div class="cover card mx-auto">
        <img class="cover card-img-top" src="{{'https://img.youtube.com/vi/' + track.youtube + '/default.jpg'}}"/>
      </div>
    </div>
</div>

<div *ngIf="video != null" class="row d-flex fixed-bottom" [ngStyle]="{'width':'380px'}">
    <iframe [src]='youtubeURL()' type="text/html" width="350" height="200" frameborder="0">
    </iframe>
    <div class="close" (click)="close($event)">
        <span class="close"></span>
    </div>
</div>
