.player {
    width: 300px;
}

.close {
    bottom: 5px;
    right: 5px;
    position: absolute;
}

.selected {
    background:#FF0000;
}

a.cover {
    width: 40px;
    height: 40px;
}

img.cover {
    width: 40px;
    height: 40px;
    object-fit:cover;
}
