<div class="container p-2">
  <div class="wallpaper w-100">
    <img class="wallpaper" src="{{'https://storage.googleapis.com/humanbeats/' + doc.source + '-wp.jpg'}}"/>

    <div class="back d-flex flex-row justify-content-center align-items-center" (click)="app.back()">
      <span class="previous"></span>
    </div>

    <!--div class="title text-left"><h1 class="text-white">{{doc.artist}}</h1></div-->
    
    <!-- player -->
    <div *ngIf="doc.audio" class="player d-flex flex-row justify-content-center align-items-center p-2"
      (click)="app.playPauseAudio(doc)">
      <div class="player-button">
        <span *ngIf="app.audio == null || app.audio.source != doc.audio || app.audio.paused" class="player-play"></span>
        <span *ngIf="app.audio != null && app.audio.source == doc.audio && !app.audio.paused" class="player-pause"></span>
      </div>
    </div>
    <div *ngIf="doc.audio == null && doc.spalbumid && app.player" class="player d-flex flex-row justify-content-center align-items-center p-2"
      (click)="app.playPauseSpotify(doc.spalbumid, 'playlist')">
      <div class="player-button">
        <span *ngIf="app.track == null || app.spalbumid != doc.spalbumid || !app.track.is_playing" class="player-play"></span>
        <span *ngIf="app.track != null && app.spalbumid == doc.spalbumid && app.track.is_playing" class="player-pause"></span>
      </div>
    </div>
  </div>

  <!-- info -->
  <div class="text-center w-100">
    <h3>{{formatDate(doc.date)}}</h3>
    <h2 class="text-truncate-2" [innerHTML]="doc.title"></h2>
    <h3 *ngIf="doc.authors" class="text-muted mx-auto">{{doc.authors}}</h3>
  </div>

  <!-- source + spotify + songkick -->
  <div *ngIf="doc.spalbumid" class="d-flex flex-row justify-content-center align-items-center mt-3">
    <a *ngIf="doc.spalbumid" class="spotify ml-1 mr-1" href="{{'https://open.spotify.com/playlist/' + doc.spalbumid}}" target="_blank">
      <span class="spotify"></span>
    </a>
  </div>

  <app-tracks [doc]="doc" [spalbumid]="doc.spalbumid" [tracks]="doc.tracks"></app-tracks>
  <app-link *ngIf="links && links.albums.length > 0" [links]="links.albums" type="albums"></app-link>
  <app-link *ngIf="links && links.podcasts.length > 0" [links]="links.podcasts" type="episodes"></app-link>
</div>
<app-footer></app-footer>
