.footer-copyright {
  height: 60px;
  border-style: solid;
  border-width: 0px 1px 0px 1px;
  border-color: #C8C8C8;
  background-color: #888888;
}

.icon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

span.cc {
  display: inline-block;
  mask: url("/images/cc.svg") no-repeat;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 5px;
  background: #FFFFFF;
  cursor: pointer;
}

span.github {
  display: inline-block;
  mask: url("/images/github.svg") no-repeat;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 5px;
  background: #FFFFFF;
  cursor: pointer;
}

span.twitter {
  display: inline-block;
  mask: url("/images/twitter.svg") no-repeat;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 5px;
  background: #FFFFFF;
  cursor: pointer;
}

span.telegram {
  display: inline-block;
  mask: url("/images/telegram.svg") no-repeat;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 5px;
  background: #FFFFFF;
  cursor: pointer;
}

.api {
  border-radius: 50%;
  background: #FFFFFF;
  width: 24px;
  height: 24px;
  padding-top: 7px;
  margin-top: 3px;
  margin-left: 3px;

  text-align: center;
  font-size: 9px;
  cursor: pointer;
}