<footer class="footer d-flex flex-row align-items-center justify-content-center">
  <div class="icon ml-auto mr-2">
    <a href="https://github.com/joshua81/phonoteke/" target="_blank">
      <img src="/images/github.svg">
    </a>
  </div>
  <div class="icon ml-2 mr-2">
    <a href="https://www.linkedin.com/in/ricciandrea/" target="_blank">
      <img src="/images/linkedin.svg">
    </a>
  </div>
  <div class="icon ml-2 mr-2">
    <a href="https://creativecommons.org/" target="_blank">
      <img src="/images/cc.svg">
    </a>
  </div>
  <div class="icon ml-2 mr-auto">
    <a href="https://sora.com/" target="_blank">
      <img src="/images/openai.svg">
    </a>
  </div>
  <!--div class="icon ml-1 mr-1">
    <a href="/html/api.html" target="_blank"><h3 class="api text-white">&#123;api&#125;</h3></a>
  </div-->
</footer>
