.footer {
  height: 60px;
}

.icon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

span.cc {
  display: inline-block;
  mask: url("/images/cc.svg") no-repeat;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 5px;
  background: #282D32;
  cursor: pointer;
}

span.github {
  display: inline-block;
  mask: url("/images/github.svg") no-repeat;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 5px;
  background: #282D32;
  cursor: pointer;
}

span.twitter {
  display: inline-block;
  mask: url("/images/twitter.svg") no-repeat;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 5px;
  background: #282D32;
  cursor: pointer;
}

span.telegram {
  display: inline-block;
  mask: url("/images/telegram.svg") no-repeat;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 5px;
  background: #282D32;
  cursor: pointer;
}

span.mail {
  display: inline-block;
  mask: url("/images/mail.svg") no-repeat;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 5px;
  background: #282D32;
  cursor: pointer;
}

span.linkedin {
  display: inline-block;
  mask: url("/images/linkedin.svg") no-repeat;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 5px;
  background: #282D32;
  cursor: pointer;
}

.api {
  border-radius: 50%;
  background: #282D32;
  width: 24px;
  height: 24px;
  padding-top: 7px;
  margin-top: 3px;
  margin-left: 3px;

  text-align: center;
  font-size: 9px;
  cursor: pointer;
}