div.cover {
  width: 250px;
  position: relative;
}

a.cover {
  width: 250px;
  height: 250px;
}

img.cover {
  width: 250px;
  height: 250px;
  object-fit:cover;
}

.card {
  border-style: none;
}

.card-body {
  position: relative;
  width: 250px;
  height: 150px;
}

.card-footer {
  border-style: none;
  background: none;
  position: absolute;
  bottom: 0px;
}
