.card {
  border-style: none;
}

.card-body {
  position: relative;
  width: 250px;
  height: 150px;
}

.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-footer {
  border-style: none;
  background: none;
  position: absolute;
  bottom: 0px;
}