<div class="container-fluid p-0">
  <!-- podcasts -->
  <div class="d-flex flex-wrap justify-content-center w-100 mt-5">
    <div *ngFor="let podcast of podcasts; let i = index">
      <div class="author card">
        <h1 *ngIf="i == 0" class="title">PODCASTS</h1>
        <a class="author" [routerLink]="['/podcasts/' + podcast.source]">
          <img class="author card-img-top" src="{{podcast.cover}}" loading="lazy"/>
          <h1 class="author font-weight-bold text-white">{{podcast.name}}</h1>
        </a>
        <div *ngIf="app.gtYesterday(podcast.lastEpisodeDate)" class="yesterday"></div>
      </div>
    </div>
  </div>
  <div *ngIf="(podcastsPage+1)*18 == podcasts.length" class="d-flex justify-content-center m-2">
    <div class="plus" (click)="scollPodcasts()">
      <span class="plus"></span>
    </div>
  </div>

  <!-- albums -->
  <div class="d-flex flex-wrap justify-content-center w-100 mt-5">
    <div *ngFor="let album of albums; let i = index">
      <div class="author card">
        <h1 *ngIf="i == 0" class="title">ALBUMS</h1>
        <a class="author" [routerLink]="['/' + album.id]">
          <img class="author card-img-top" src="{{album.cover}}" loading="lazy"/>
          <h1 class="author font-weight-bold text-white">{{album.artist}}</h1>
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="(albumsPage+1)*18 == albums.length" class="d-flex justify-content-center m-2">
    <div class="plus" (click)="scrollAlbums()">
      <span class="plus"></span>
    </div>
  </div>
</div>
<app-footer></app-footer>
