.backward {
  width: 40px;
  height: 20px;
  cursor: pointer;
}

.previous {
  display: inline-block;
  mask: url("/images/previous.svg");
  width: 10px;
  height: 15px;
  margin-top: 2px;
  margin-left: 20px;
  background: #18A2B8;
  cursor: pointer;
}

.forward {
  width: 40px;
  height: 20px;
  background: none;
  cursor: pointer;
}

.next {
  display: inline-block;
  mask: url("/images/next.svg");
  width: 10px;
  height: 15px;
  margin-top: 2px;
  margin-left: 20px;
  background: #18A2B8;
  cursor: pointer;
}

div.cover {
  width: 190px;
  position: relative;
}

a.cover {
  width: 190px;
  height: 190px;
}

img.cover {
  width: 190px;
  height: 190px;
  object-fit:cover;
}

.card {
  border-style: none;
}

.card-body {
  position: relative;
  width: 190px;
  height: 150px;
}

.card-footer {
  border-style: none;
  background: none;
  position: absolute;
  bottom: 0px;
}
