<div infinite-scroll class="pt-2 row" (scrolled)="loadPage()">
  <div class="pt-2 col-md-4" *ngFor="let album of albums">
    <div class="card mx-auto">
      <a [routerLink]="['/albums/' + album.id]">
        <img class="card-img-top" src="{{album.cover}}"/>
      </a>
      <div class="card-body p-2">
        <p class="card-text font-weight-bold">{{album.artist + ' | ' + album.title}}</p>
        <p class="card-text" [innerHTML]="album.description"></p>
      </div>
    </div>
  </div>
</div>
