<div *ngIf="tracks && tracks.length > 0" class="d-flex flex-column justify-content-center w-100 mt-2 p-2">
    <div *ngFor="let track of tracks" class="mb-2">
        <div class="d-flex flex-row align-items-center m-0">
            <div class="cover">
                <a *ngIf="track.spotify" href="{{'https://open.spotify.com/track/' + track.spotify}}" target="_blank">
                    <img class="cover" src="{{track.coverM}}"/>
                </a>
                <!--span *ngIf="track.spotify" class="play"></span-->
                <h1 *ngIf="track.spotify == null" class="cover text-uppercase text-white font-weight-bold">{{track.title.charAt(0)}}</h1>
            </div>
            <div class="ml-2 mr-auto">
                <div *ngIf="track.spotify == null" [innerHTML]="track.title"></div>
                <div *ngIf="track.spotify" class="text-truncate-1">
                    <a [innerHTML]="track.title" href="{{'https://open.spotify.com/track/' + track.spotify}}" target="_blank"></a>
                </div>
                <div *ngIf="track.spotify" class="text-truncate-1">
                    <a class="font-weight-bold" [innerHTML]="track.album" href="{{'https://open.spotify.com/album/' + track.spalbumid}}" target="_blank"></a>
                </div>
                <div *ngIf="track.spotify" class="text-truncate-1">
                    <a [innerHTML]="track.artist" href="{{'https://open.spotify.com/artist/' + track.spartistid}}" target="_blank"></a>
                </div>
            </div>
            <div *ngIf="track.artistid" class="icon ml-2" (click)="service.loadEvents(track.artistid)">
                <span class="songkick"></span>
            </div>
        </div>
    </div>
</div>
