div.track {
    position: relative;
    width: 100%;
    height: 70px;
    max-height: 70px;
    margin: 0px;

    border-style: solid;
    border-radius: 0% 4px 4px 0%;
    border-width: 1px 1px 1px 1px;
    border-color: #c8c8c8;
    background: #e9f0f2;
}

div.cover {
    position: relative;
    width: 68px;
    min-width: 68px;
    height: 68px;
    min-height: 68px;
    margin: 0px;
    padding: 0px;
    
    background: #282D32;
    object-fit:cover;
    cursor: pointer;
}

img.cover {
    width: 68px;
    height: 68px;
}

.player {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;

    width: 68px;
    min-width: 68px;
    height: 68px;
    min-height: 68px;
}

span.album {
    display: inline-block;
    mask: url("/images/album.svg") no-repeat;
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    background: #FFFFFF;
}

span.love {
    display: inline-block;
    mask: url("/images/love-selected.svg") no-repeat;
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    background: #b0b0b0;
    cursor: pointer;
}

span.love-selected {
    display: inline-block;
    mask: url("/images/love-selected.svg") no-repeat;
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    background: #F80046;
    cursor: pointer;
}

span.play {
    position: absolute;
    display: inline-block;
    mask: url("/images/play.svg") no-repeat;
    width: 16px;
    height: 16px;
    margin: 0px;
    padding: 0px;
    left: 26px;
    top: 26px;
    background: rgb(255,255,255,.6);
    cursor: pointer;
}
