<div *ngIf="tracks && tracks.length > 0" class="d-flex flex-column justify-content-center w-100 pt-2">
    <div *ngFor="let track of tracks" class="mt-1 mb-1">
        <div class="d-flex flex-row align-items-center m-0">
            <div class="cover">
                <div *ngIf="track.spotify == null" class="player d-flex flex-row align-items-center justify-content-center">
                    <span class="album"></span>
                </div>
                <img *ngIf="track.spotify && track.cover" class="cover" src="{{track.cover}}" loading="lazy"/>
                <img *ngIf="track.spotify && track.coverS" class="cover" src="{{track.coverS}}" loading="lazy"/>
                <div *ngIf="track.spotify" class="player d-flex flex-row align-items-center justify-content-center" (click)="playPauseSpotify(track.spotify)">
                    <span class="play"></span>
                </div>
            </div>
            <!--div *ngIf="app.track == null || app.track.item.id != track.spotify" class="counter justify-content-center text-center font-weight-bold ml-1 mr-1">{{i+1}}</div>
            <img *ngIf="app.track != null && app.track.item.id == track.spotify" class="counter ml-1 mr-1" src="/images/equalizer.gif"-->
            <div class="w-100 ml-2 mr-2">
                <div *ngIf="track.spotify == null" class="text-muted">{{track.title}}</div>
                <div *ngIf="track.spotify" class="text-truncate-1">{{track.track + ' | '}}<span class="font-weight-bold">{{track.album}}</span></div>
                <div *ngIf="track.spotify" class="text-truncate-1">{{track.artist}}</div>
            </div>
            <div class="d-flex flex-row ml-1">
                <div *ngIf="track.youtube" class="d-flex flex-row align-items-center justify-content-center mr-1" (click)="app.playYoutube(track.youtube)">
                    <span class="youtube"></span>
                </div>
                <!--div *ngIf="track.artistid" class="d-flex flex-row align-items-center justify-content-center ml-1 mr-1" (click)="app.loadEvents(track.artistid)">
                    <span class="songkick"></span>
                </div-->
                <div *ngIf="app.player" class="d-flex flex-row align-items-center justify-content-center ml-1">
                    <span *ngIf="track.spotify && !track?.saved" class="love" (click)="app.saveTrack(track, true)"></span>
                    <span *ngIf="track.spotify && track?.saved" class="love-selected" (click)="app.saveTrack(track, false)"></span>
                </div>
            </div>
        </div>
    </div>
</div>
