.close {
    bottom: 5px;
    right: 5px;
    position: absolute;
}

.icon {
    border-radius: 50%;
    background: #FFFFFF;
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    cursor: pointer;
}

.songkick {
    display: inline-block;
    content: url("/images/songkick.png");
  }

div.cover {
    position: relative;
    width: 62px;
    min-width: 62px;
    height: 62px;
    min-height: 62px;
    background: #18A2B8;
    border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
    object-fit:cover;
    cursor: pointer;
}

img.cover {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

h1.cover {
    text-align: center;
    margin-top: 20px;
}

