<app-menu></app-menu>
<div class="container w-max" [ngStyle]="{'position': 'relative'}">
  <div *ngIf="app.isDesktop" class="backward" (click)="previous()">
    <span class="previous"></span>
  </div>
  <div id="sources" class="d-flex flex-row flex-nowrap hscroll mt-2">
    <div *ngFor="let source of sources" class="mr-2">
      <div class="cover-menu card">
        <a class="cover-menu" [routerLink]="['/podcasts/' + source.source]">
          <img class="cover-menu card-img-top" src="{{'/images/' + source.source + '.png'}}" loading="lazy"/>
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="app.isDesktop" class="forward" (click)="next()">
    <span class="next"></span>
  </div>
</div>

<div *ngIf="docs && docs.length != 0" class="fill">
    <div *ngIf="docs && docs.length != 0" class="container w-max p-0 mt-4">
        <div infinite-scroll (scrolled)="scrollDocs()">
          <div class="d-flex flex-wrap justify-content-center">
            <div *ngFor="let doc of docs" class="m-1">
              <div class="cover card">
                <a class="cover" [routerLink]="['/docs/' + doc.id]">
                  <img *ngIf="doc.coverM == null" class="cover card-img-top" src="{{doc.cover}}" loading="lazy"/>
                  <img *ngIf="doc.coverM != null" class="cover card-img-top" src="{{doc.coverM}}" loading="lazy"/>
                </a>
                <div class="card-body p-1">
                  <h3 class="text-truncate-2" [innerHTML]="doc.artist"></h3>
                  <h2 class="text-truncate-2" [innerHTML]="doc.title"></h2>
                  <p *ngIf="doc.description != null" class="text-truncate-3 mt-2 mb-0" [innerHTML]="doc.description"></p>
                  <h3 class="card-footer text-muted text-lowercase p-0">{{doc.type}}
                    <span *ngIf="doc.date" class="text-muted">{{' | ' + formatDate(doc.date)}}</span>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>      
</div>

<div *ngIf="!app.loading && source != null && docs && docs.length == 0" class="d-flex justify-content-center align-items-center fill">
  <div class="font-weight-bold">No episodes found</div>
</div>   
