<div *ngIf="tracks && tracks.length != 0" class="mt-3">
  <div class="d-flex flex-row align-items-center pl-0 pr-0">
    <h1 class="text-uppercase mt-0 mb-0 mr-auto">{{label}}</h1>
    <div *ngIf="component.isDesktop()"
      class="backward" (click)="previous()"><span class="previous"></span></div>
    <div *ngIf="component.isDesktop()"
      class="forward" (click)="next()"><span class="next"></span></div>
  </div>
  <div id="{{type}}" class="d-flex flex-row flex-nowrap hscroll pt-2">
    <div *ngFor="let track of tracks" class="pr-2">
      <div *ngIf="track.youtube" class="cover">
        <a href="{{'https://www.youtube.com/watch?v=' + track.youtube}}" target="_blank">
          <img class="cover" src="{{'https://img.youtube.com/vi/' + track.youtube + '/default.jpg'}}"/>
          <span class="youtube"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- player-->
<!--div *ngIf="video" class="d-flex flex-row fixed-bottom" [ngStyle]="{'width':'380px'}">
  <iframe [src]='youtubeURL()' type="text/html" width="350" height="200" frameborder="0">
  </iframe>
  <div class="close" (click)="close($event)">
    <span class="close"></span>
  </div>
</div-->