.video {
  position: relative;
}

div.cover {
  width: 216px;

  position: relative;
  cursor: pointer;
}

img.cover {
  aspect-ratio: 16/9;
  width: 100%;
  object-fit:cover;
}

span.youtube {
  position: absolute;
  display: inline-block;
  mask: url("/images/youtube.svg") no-repeat;
  width: 30px;
  height: 30px;
  margin: 0px;
  padding: 0px;
  left: 96px;
  top: 52px;
  background: rgba(255,255,255,.6);
  cursor: pointer;
}
