.video {
  position: relative;
}

div.cover {
  position: relative;
  cursor: pointer;
}

img.cover {
  object-fit:cover;
  width: 216px;
  height: 120px;
  cursor: pointer;
}

span.youtube {
  position: absolute;
  display: inline-block;
  mask: url("/images/youtube.svg") no-repeat;
  width: 30px;
  height: 30px;
  margin: 0px;
  padding: 0px;
  left: 96px;
  top: 52px;
  background: #FFFFFF;
  opacity: 0.6;
  cursor: pointer;
}
