.songkick-selected {
    background:#F80046;
}

.spotify-selected {
    background:#1DB954;
}

.cover {
    width: 60px;
    height: 60px;
    border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
    object-fit:cover;
    cursor: pointer;
}
