<div *ngIf="tracks && tracks.length > 0" class="d-flex justify-content-center p-2 bg-white">
    <div class="list-group w-med">
        <div *ngFor="let track of tracks" class="mb-2">
            <div class="track d-flex flex-row align-items-center m-0" (click)="selectTrack(track)">
                <div class="cover" (click)="loadTrack(track)">
                    <img *ngIf="track.spotify" class="cover" src="{{track.coverM}}"/>
                    <span class="play"></span>
                </div>
                <div class="ml-2 mr-auto">
                    <div class="text-truncate-1" [innerHTML]="track.title"></div>
                    <div *ngIf="track.spotify" class="text-truncate-1">
                        <a class="font-weight-bold" [innerHTML]="track.album" href="{{'https://open.spotify.com/album/' + track.spalbumid}}" target="_blank"></a>
                    </div>
                    <div *ngIf="track.spotify" class="text-truncate-1">
                        <a [innerHTML]="track.artist" href="{{'https://open.spotify.com/artist/' + track.spartistid}}" target="_blank"></a>
                    </div>
                </div>
                <!--div *ngIf="track.artistid" class="ml-1" (click)="service.loadEvents(track.artistid)">
                    <span class="songkick"></span>
                </div-->
            </div>
        </div>
    </div>
</div>

<div *ngIf="song != null" class="d-flex flex-row fixed-bottom" [ngStyle]="{'width':'380px'}">
    <iframe [src]='spotifyURL()' width="350" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media">
    </iframe>
    <div class="close" (click)="close($event)">
        <span class="close"></span>
    </div>
</div>
