.close {
    bottom: 5px;
    right: 5px;
    position: absolute;
}

.icon {
    border-radius: 50%;
    background: #FFFFFF;
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    cursor: pointer;
}

.songkick {
    display: inline-block;
    mask: url("/images/songkick.svg");
    width: 20px;
    height: 20px;
    background: #F80046;
    cursor: pointer;
}

.youtube {
    display: inline-block;
    mask: url("/images/youtube.svg");
    width: 20px;
    height: 20px;
    background: #FF0000;
    cursor: pointer;
}

div.cover {
    position: relative;
    width: 62px;
    min-width: 62px;
    height: 62px;
    min-height: 62px;
    background: #18A2B8;
    border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
    object-fit:cover;
    cursor: pointer;
}

img.cover {
    width: 60px;
    height: 60px;
}

h1.cover {
    width: 60px;
    height: 60px;
    text-align: center;
    margin-top: 15px;
}

.play {
    position: absolute;
    display: inline-block;
    mask: url("/images/play.svg");
    width: 30px;
    height: 30px;
    left: 15px;
    top: 15px;
    background: #FFFFFF;
    opacity: 0.6;
    cursor: pointer;
}

