<div *ngIf="tracks && tracks.length > 0" class="row d-flex justify-content-center pt-2 pb-2">
    <div class="list-group w-med">
        <div *ngFor="let track of tracks" class="pt-2">
            <div class="row d-flex align-items-center m-0">
                <img *ngIf="track.spotify" class="cover" src="{{track.coverM}}" (click)="loadTrack(track)"/>
                <div *ngIf="!track.spotify" class="cover"></div>
                <div class="pl-2 mr-auto ptext-truncate">
                    <div class="ctext-truncate" [innerHTML]="track.title"></div>
                    <div *ngIf="track.spotify" class="ctext-truncate">
                        <a class="font-weight-bold" [innerHTML]="track.album" href="{{'https://open.spotify.com/album/' + track.spalbumid}}" target="_blank"></a>
                    </div>
                    <div *ngIf="track.spotify" class="ctext-truncate">
                        <a [innerHTML]="track.artist" href="{{'https://open.spotify.com/artist/' + track.spartistid}}" target="_blank"></a>
                    </div>
                </div>
                <div *ngIf="track.artistid" class="pl-1" (click)="service.loadEvents(track.artistid)">
                    <span class="songkickbtn songkick-selected"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="song != null" class="row d-flex fixed-bottom" [ngStyle]="{'width':'380px'}">
    <iframe [src]='spotifyURL()' width="350" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media">
    </iframe>
    <div class="close" (click)="close($event)">
        <span class="close"></span>
    </div>
</div>
