* {
	color: #000000;
	font-family: serif;
	font-size: 16px;
	background: #FFFFFF;
	text-align: justify;
	margin: 0px;
}

a {
	color: #000000;
}

h1 {
	font-size: 32px;
	font-weight: bold;
	text-align: justify;
	color: #000000;
	opacity: 0.8;
	background-color: #FFFFFF;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

h2 {
	font-size: 16px;
	text-align: justify;
	color: #000000;
	opacity: 0.8;
	background-color: #FFFFFF;
	width: 100%;
	padding: 5px;
	margin: 0px;
}

hr {
	color: #000000;
	background-color: #000000;
	opacity: 0.8;
	height: 1px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.glyphicon {
	color: #000000;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.album {
	width: 300px;
	height: 300px;
	display: block;
	margin: auto;

	position: relative;
}

img.album {
	width: 300px;
	height: 300px;
	display: block;
	margin: auto;
}

h2.album {
	width: 300px;
	height: 40px;
	margin: auto;

	position: absolute;
	bottom: 20px;
	z-index: 10;
}

.artist {
	width: 300px;
	height: 180;
	display: block;
	margin: auto;

	position: relative;
}

img.artist {
	width: 300px;
	height: 180px;
	display: block;
	margin: auto;
}

h2.artist {
	width: 300px;
	height: 40px;
	margin: auto;

	position: absolute;
	bottom: 20px;
	z-index: 10;
}

#header {
	width: 100%;
	height: 30px;
	padding: 5px;
}

#headerleft {
	float: left;
	display: inline;
	font-weight: bold;
}

#headerright {
	float: right;
	display: inline;
	font-weight: bold;
}

#searchInput {
	width: 100%;
	padding: 5px;
}

#vote {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background: #8AC007;

	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 10px;
	margin: auto;

	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 10;
}

#content {
	background-color: #FFFFFF;
	padding: 5px;
	margin: auto;
}

#media {
	width: 300px;
	margin: auto;
}
