<div class="container p-2">
  <!-- menu -->
  <div class="wallpaper w-100">
    <div class="menu d-flex flex-row justify-content-center w-100">
      <div class="menu-item" [ngClass]="{'selected': status == 'album'}" (click)="setStatus('album')">
        <h2 class="pl-2 pr-2 text-white">Albums</h2>
      </div>
      <div class="menu-item" [ngClass]="{'selected': status == 'video'}" (click)="setStatus('video')">
        <h2 class="pl-2 pr-2 text-white">Videos</h2>
      </div>
      <div class="menu-item" [ngClass]="{'selected': status == 'track'}" (click)="setStatus('track')">
        <h2 class="pl-2 pr-2 text-white">Tracks</h2>
      </div>
      <div class="menu-item" [ngClass]="{'selected': status == 'show'}" (click)="setStatus('show')">
        <h2 class="pl-2 pr-2 text-white">Shows</h2>
      </div>
    </div>
  </div>

  <!-- albums -->
  <div *ngIf="status=='album'" class="d-flex flex-wrap justify-content-center w-100 pt-2">
    <div *ngFor="let album of albums">
      <div class="album" (click)="app.playPauseSpotify(album.spalbumid, 'album')">
        <img class="album" src="{{album.cover}}" loading="lazy"/>
        <h1 class="text-white">{{album.artist}}</h1>
        <span class="play"></span>
      </div>
    </div>
  </div>

  <app-video *ngIf="status=='video'" [tracks]="videos"></app-video>
  <app-tracks *ngIf="status=='track'" [spalbumid]="spalbumid" [tracks]="tracks"></app-tracks>

  <!-- shows -->
  <div *ngIf="status=='show'" class="d-flex flex-wrap justify-content-center w-100 pt-2">
    <div *ngFor="let show of shows">
      <div class="album">
        <a [routerLink]="['/' + show.source]">
          <img class="album" src="{{show.cover}}" loading="lazy"/>
          <h1 class="text-white">{{show.name}}</h1>
        </a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
