h1 {
    font-size: 30px;
    line-height: 0.9;
    position: absolute;
    margin: 4px;
    padding: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #000000;
    opacity: 0.7;
}

h2 {
    font-size: 16px;
}

div.wallpaper {
    position: relative;
    width: 100%;
    height: 300px;
    background: #ce9393;
}

img.wallpaper {
    width: 100%;
    height: 300px;
    object-fit: none;
}

div.menu {
    position: absolute;
    bottom: 4px;
}

div.menu-item {
    cursor: pointer;
}

div.selected {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #FFFFFF;
}

div.album {
    position: relative;
    width: 50vw;
    height: 50vw;
    max-width: 200px;
    max-height: 200px;
    padding: 2px;
    background: none;
    cursor: pointer;
}
  
img.album {
    width: 50vw;
    height: 50vw;
    max-width: 196px;
    max-height: 196px;
    object-fit:cover;
}

span.play {
    position: absolute;
    display: inline-block;
    mask: url("/images/play.svg") no-repeat;
    width: 16px;
    height: 16px;
    margin: 0px;
    padding: 0px;
    left: 92px;
    top: 92px;
    background: #FFFFFF;
    opacity: 0.6;
    cursor: pointer;
}

.back {
    position: absolute;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
  
    width: 30px;
    height: 30px;
    top: 5px;
    left: 5px;
    background: #000000;
    opacity: 0.8;
    cursor: pointer;
  }
  
  span.previous {
    display: inline-block;
    mask: url("/images/previous.svg") no-repeat;
    width: 10px;
    height: 15px;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    cursor: pointer;
  }
  