<div class="container p-2">
  <div class="wallpaper w-100 text-center">
    <img class="wallpaper" src="{{'https://storage.googleapis.com/humanbeats/' + (source == null ? 'humanbeats' : source) + '-wp.jpg'}}"/>

    <!-- back -->
    <div *ngIf="source != null" class="back d-flex flex-row justify-content-center align-items-center" (click)="back()">
      <span class="previous"></span>
    </div>
    <!-- finder -->
    <div *ngIf="source != null && status=='episodes' && showSearch" class="finder-input">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (keydown.enter)="onSearch($event)">
    </div>
    <div *ngIf="source != null && status=='episodes'" class="finder d-flex flex-row justify-content-center align-items-center" (click)="toggleSearch()">
      <span class="search"></span>
    </div>

    <div *ngIf="source != null" class="title text-left"><h1 class="text-white">{{name}}</h1></div>
  </div>

  <!-- menu -->
  <div class="menu d-flex flex-row justify-content-center w-100">
    <a *ngIf="source == null" [routerLink]="['/']">
      <div class="menu-item" [ngClass]="{'selected': status == 'shows'}">
        <h3 class="pl-2 pr-2">Shows</h3>
      </div>
    </a>
    <a *ngIf="source != null" [routerLink]="['/shows/' + source]">
      <div class="menu-item" [ngClass]="{'selected': status == 'episodes'}">
        <h3 class="pl-2 pr-2">Episodes</h3>
      </div>
    </a>
    <a [routerLink]="[source == null ? '/albums' : '/shows/' + source + '/albums']">
      <div class="menu-item" [ngClass]="{'selected': status == 'albums'}">
        <h3 class="pl-2 pr-2">Albums</h3>
      </div>
    </a>
    <a [routerLink]="[source == null ? '/reviews' : '/shows/' + source + '/reviews']">
      <div class="menu-item" [ngClass]="{'selected': status == 'reviews'}">
        <h3 class="pl-2 pr-2">Reviews</h3>
      </div>
    </a>
    <a [routerLink]="[source == null ? '/tracks' : '/shows/' + source + '/tracks']">
      <div class="menu-item" [ngClass]="{'selected': status == 'tracks'}">
        <h3 class="pl-2 pr-2">Tracks</h3>
      </div>
    </a>
    <a [routerLink]="[source == null ? '/videos' : '/shows/' + source + '/videos']">
      <div class="menu-item" [ngClass]="{'selected': status == 'videos'}">
        <h3 class="pl-2 pr-2">Videos</h3>
      </div>
    </a>
  </div>

  <!-- shows -->
  <div *ngIf="status=='shows'" class="d-flex flex-wrap justify-content-center w-100 pt-2">
    <div *ngFor="let show of shows">
      <div class="show">
        <a [routerLink]="['/shows/' + show.source]">
          <img class="show" src="{{show.cover}}" loading="lazy"/>
          <h2 class="font-weight-normal text-white">{{show.name}}</h2>
        </a>
        <!--div *ngIf="app.gtYesterday(show.lastEpisodeDate)" class="yesterday"></div-->
        <div *ngIf="show.affinity && show.affinity >= 0.2" class="affinity-high"></div>
        <div *ngIf="show.affinity && show.affinity < 0.2 && show.affinity >= 0.1" class="affinity-medium"></div>
      </div>
    </div>
  </div>

  <!-- episodes -->
  <app-podcasts *ngIf="status=='episodes'" [source]="source" [docs]="episodes"></app-podcasts>

  <!-- albums -->
  <div *ngIf="status=='albums'" class="d-flex flex-wrap justify-content-center w-100 pt-2">
    <div *ngFor="let album of albums" class="album">
      <a *ngIf="!app.isDesktop" href="{{'https://open.spotify.com/album/' + album.spalbumid}}" target="_blank">
        <img class="album" src="{{album.cover}}" loading="lazy"/>
        <span class="play"></span>
      </a>
      <div *ngIf="app.isDesktop" (click)="app.playPauseSpotify(album.spalbumid, 'album')">
        <img class="album" src="{{album.cover}}" loading="lazy"/>
        <span class="play"></span>
      </div>
      <div class="text-truncate-1 font-weight-bold">{{album.album}}</div>
      <div class="text-truncate-1">{{album.artist}}</div>
    </div>
  </div>

  <!-- reviews -->
  <div *ngIf="status=='reviews'" class="d-flex flex-wrap justify-content-center w-100 pt-2">
    <div *ngFor="let review of reviews" class="album">
      <a [routerLink]="['/albums/' + review.id]">
        <img class="album" src="{{review.cover}}" loading="lazy"/>
      </a>
      <div class="text-truncate-1 font-weight-bold">{{review.album}}</div>
      <div class="text-truncate-1">{{review.artist}}</div>
    </div>
  </div>

  <!-- videos -->
  <div *ngIf="status=='videos'" class="d-flex flex-wrap justify-content-center w-100 pt-2">
    <div *ngFor="let video of videos" class="video">
      <div (click)="app.playYoutube(video.youtube)">
        <img class="video" src="{{'https://img.youtube.com/vi/' + video.youtube + '/mqdefault.jpg'}}" loading="lazy"/>
        <span class="youtube"></span>
      </div>
      <div class="text-truncate-1 font-weight-bold">{{video.track}}</div>
      <div class="text-truncate-1">{{video.artist}}</div>
    </div>
  </div>

  <!-- tracks -->
  <div *ngIf="status=='tracks'" class="w-100 pt-2">
    <div class="d-flex flex-row justify-content-center align-items-center">
      <a *ngIf="spalbumid" class="spotify" href="{{'https://open.spotify.com/playlist/' + spalbumid}}" target="_blank">
        <span class="spotify"></span>
      </a>
    </div>
    <app-tracks [tracks]="tracks" [spalbumid]="spalbumid"></app-tracks>
  </div>
</div>
<!-- footer -->
<app-footer></app-footer>
