h1 {
    font-size: 32px;
    line-height: 0.9;
}

h2 {
    font-size: 24px;
    line-height: 0.9;
    position: absolute;
    margin: 0px;
    padding: 2px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,.6);
}

h3 {
    font-size: 16px;
    font-weight: 400;
}

div.wallpaper {
    position: relative;
    width: 100%;
    height: 300px;
    background: #ce9393;
}

img.wallpaper {
    width: 100%;
    height: 300px;
    object-fit: none;
}

div.title {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.6);
}

div.menu {
    height: 30px;
}

div.menu-item {
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: #FFFFFF;
    cursor: pointer;
}

div.selected {
    font-weight: bold;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: #000000;
    cursor: pointer;
}

div.show {
    position: relative;
    width: 196px;
    max-width: 196px;
    height: 196px;
    max-height: 196px;
    margin: 2px;
    background: none;
    cursor: pointer;
}
  
img.show {
    width: 196px;
    max-width: 196px;
    object-fit:cover;
}

div.album {
    position: relative;
    width: 196px;
    max-width: 196px;
    height: 240px;
    max-height: 240px;
    margin: 2px;

    border-style: solid;
    border-radius: 0% 0% 2% 2%;
    border-width: 1px 1px 1px 1px;
    border-color: rgb(200, 200, 200);
    background: rgb(233,240,242);
}
  
img.album {
    width: 194px;
    max-width: 194px;
    height: 194px;
    max-height: 194px;
    object-fit:cover;
    cursor: pointer;
}

.card-body {
    padding: 4px;
}

span.play {
    position: absolute;
    display: inline-block;
    mask: url("/images/play.svg") no-repeat;
    width: 16px;
    height: 16px;
    margin: 0px;
    padding: 0px;
    left: 90px;
    top: 90px;
    background: rgb(255,255,255,.6);
    cursor: pointer;
}

.back {
    position: absolute;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
  
    width: 30px;
    height: 30px;
    top: 5px;
    left: 5px;
    background: rgb(0,0,0);
    cursor: pointer;
}

.finder {
    position: absolute;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
  
    width: 30px;
    height: 30px;
    top: 5px;
    right: 5px;
    background: rgb(0,0,0);
    cursor: pointer;
}

.finder-input {
    position: absolute;
  
    width: calc(100% - 80px);
    height: 30px;
    top: 5px;
    right: 40px;
    left: 40px;
    margin: 0;
}
  
span.previous {
    display: inline-block;
    mask: url("/images/previous.svg") no-repeat;
    width: 10px;
    height: 15px;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    cursor: pointer;
}

span.search {
    display: inline-block;
    mask: url("/images/search.svg") no-repeat;
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    cursor: pointer;
}

.spotify {
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}
  
span.spotify {
    display: inline-block;
    mask: url("/images/spotify.svg") no-repeat;
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    background: #1DB954;
    cursor: pointer;
}

/*.yesterday {
    position: absolute;
    top: 5px;
    right: 5px;
  
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #18A2B8;
}*/

.affinity-high {
    position: absolute;
    top: 5px;
    right: 5px;
  
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #008450;
}

.affinity-medium {
    position: absolute;
    top: 5px;
    right: 5px;
  
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #EFB700;
}

div.video {
    position: relative;
    width: 196px;
    max-width: 196px;
    height: 160px;
    max-height: 160px;
    margin: 2px;

    border-style: solid;
    border-radius: 0% 0% 2% 2%;
    border-width: 1px 1px 1px 1px;
    border-color: rgb(200, 200, 200);
    background: rgb(233,240,242);
}
  
img.video {
    width: 194px;
    height: 114px;
    object-fit:cover;
    cursor: pointer;
}
  
span.youtube {
    position: absolute;
    display: inline-block;
    mask: url("/images/youtube.svg") no-repeat;
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    left: 83px;
    top: 43px;
    background: rgba(255,255,255,.6);
    cursor: pointer;
}
