<nav class="navbar navbar-expand-lg navbar-light fixed-top justify-content-center hscroll">
  <div class="d-flex flex-row w-max flex-nowrap hscroll">
    <!--a [routerLink]="['/']" class="ml-2 mr-2"><img class="logo"></a-->
    <div class="menu-item ml-auto mr-2" [ngClass]="{'selected' : docs.type == null}" (click)="docs.setType(null)"><h2>Tutti</h2></div>
    <div class="menu-item ml-2 mr-2" [ngClass]="{'selected' : docs.type == 'podcast'}" (click)="docs.setType('podcast')"><h2>Podcast</h2></div>
    <div class="menu-item ml-2 mr-2" [ngClass]="{'selected' : docs.type == 'album'}" (click)="docs.setType('album')"><h2>Album</h2></div>
    <div class="menu-item ml-2 mr-2" [ngClass]="{'selected' : docs.type == 'artist'}" (click)="docs.setType('artist')"><h2>Artisti</h2></div>
    <div class="menu-item ml-2 mr-2" [ngClass]="{'selected' : docs.type == 'interview'}" (click)="docs.setType('interview')"><h2>Interviste</h2></div>
    <div class="menu-item ml-2 mr-auto" [ngClass]="{'selected' : docs.type == 'concert'}" (click)="docs.setType('concert')"><h2>Concerti</h2></div>
    <form class="search ml-2 mr-2">
      <input class="form-control" name="search" type="search" placeholder="Cerca" aria-label="Cerca" [(ngModel)]="docs.searchText" (search)="docs.loadDocs()">
    </form>
  </div>
</nav>
