.menu-item {
    width: 60px;
    min-width: 60px;
    height: 30px;
    padding-top: 8px;
    text-align: center;
    cursor: pointer;
}

.search {
    min-width: 200px;
    max-width: 200px;
}

.unselected {
    border-bottom: 4px solid none;
}

.selected {
    border-bottom: 4px solid #18A2B8;
}

.icon {
    border-radius: 50%;
    background: #FFFFFF;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

span.spotify {
    display: inline-block;
    mask: url("/images/spotify.svg");
    width: 30px;
    height: 30px;
    background: #18A2B8;
    cursor: pointer;
}

img.spotify {
    object-fit: cover;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
