div.track {
  cursor: pointer;
}

div.vote {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  flex: 0 0 30px;
  background: #8AC007;

  color: #FFFFFF;
  text-align: center;
  padding-top: 5px;

  position: absolute;
  left: 270px;
  top: 10px;
  z-index: 20;
}

div.votelink {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  flex: 0 0 30px;
  background: #8AC007;

  color: #FFFFFF;
  text-align: center;
  padding-top: 5px;
}

img.cover {
  width: 300px;
  height: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  object-fit:cover;

  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

img.link {
  width: 60px;
  height: 60px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  object-fit:cover;
}


