.vote {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  flex: 0 0 30px;
  background: #8AC007;

  color: #FFFFFF;
  text-align: center;
  padding-top: 8px;

  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 20;
}

div.cover-s {
  width: 120px;
  position: relative;
}

a.cover-s {
  width: 120px;
  height: 120px;
}

img.cover-s {
  width: 120px;
  height: 120px;
  object-fit:cover;
}

.card {
  border-style: none;
}

.card-body {
  position: relative;
  width: 120px;
  height: 100px;
}

.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-footer {
  border-style: none;
  background: none;
  position: absolute;
  bottom: 0px;
}
