div.track {
  width: 100vw;
  max-width: 600px;
}

div.vote {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  flex: 0 0 30px;
  background: #8AC007;

  color: #FFFFFF;
  text-align: center;
  padding-top: 5px;

  position: absolute;
  left: 260px;
  top: 10px;
  z-index: 20;
}

div.player {
  width: 298px;
  height: 40px;
  flex: 0 0 30px;
  background: rgba(52, 58, 64, 0.80);

  position: absolute;
  left: 1px;
  bottom: 1px;
  z-index: 20;
}

img.cover {
  width: 300px;
  height: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  object-fit:cover;
}

div.link {
  cursor: pointer;
  overflow-x: auto;
}

a.link {
  width: 150px;
  max-width: 150px;
  position: relative;
}

img.link {
  width: 150px;
  height: 150px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  object-fit:cover;
}

div.linkvote {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  flex: 0 0 30px;
  background: #8AC007;

  color: #FFFFFF;
  text-align: center;
  padding-top: 5px;

  position: absolute;
  left: 115px;
  top: -60px;
  z-index: 20;
}


