.menu-item {
    width: 60px;
    min-width: 60px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border-bottom: 4px solid #FFFFFF;
}

.selected {
    border-bottom: 4px solid #18A2B8;
}

span.search {
    display: inline-block;
    mask: url("/images/search.svg") no-repeat;
    width: 16px;
    height: 16px;
    margin: 0px;
    padding: 0px;
    background: #888888;
    cursor: pointer;
}

.spotify {
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

span.spotify {
    display: inline-block;
    mask: url("/images/spotify.svg") no-repeat;
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    background: #1DB954;
    cursor: pointer;
}

span.spotify-disabled {
    display: inline-block;
    mask: url("/images/spotify.svg") no-repeat;
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    background: #888888;
    cursor: pointer;
}
