<nav class="navbar navbar-expand-lg navbar-light fixed-top justify-content-center hscroll">
  <div class="d-flex flex-row w-max ml-auto mr-auto">
    <!--a class="ml-1 mr-1" [routerLink]="['/']"><img class="logo"></a-->
    <a *ngIf="!showSearch" class="menu-item ml-2 mr-1" [routerLink]="['/podcasts']" [ngClass]="{'selected' : type == 'podcasts'}">
      <h2>Podcasts</h2>
    </a>
    <a *ngIf="!showSearch" class="menu-item ml-1 mr-auto" [routerLink]="['/albums']" [ngClass]="{'selected' : type == 'albums'}">
      <h2>Albums</h2>
    </a>
    <form *ngIf="showSearch" class="search w-100 ml-2 mr-1">
      <input class="form-control" name="search" type="search" placeholder="Cerca" aria-label="Cerca" [(ngModel)]="searchText" (search)="search()">
    </form>
    <div class="d-flex flex-row align-items-center ml-1 mr-2" (click)="toggleSearch()">
      <span class="search"></span>
    </div>
    <!-- Spotify login -->
    <div *ngIf="app.isDesktop" class="d-flex flex-row align-items-center ml-1 mr-2">
      <a *ngIf="app.player == null" class="spotify" href="/api/login">
        <span class="spotify-disabled"></span>
      </a>
      <a *ngIf="app.player != null" class="spotify" (click)="app.loadDevices()">
        <span class="spotify"></span>
      </a>
    </div>
  </div>
</nav>
