.backward {
  width: 30px;
  min-width: 30px;
  background: #18A2B8;
  cursor: pointer;
}

.previous {
  display: inline-block;
  mask: url("/images/previous.svg");
  width: 10px;
  height: 15px;
  margin-top: 102px;
  margin-left: 10px;
  background: #FFFFFF;
  cursor: pointer;
}

.forward {
  width: 30px;
  min-width: 30px;
  background: #18A2B8;
  cursor: pointer;
}

.next {
  display: inline-block;
  mask: url("/images/next.svg");
  width: 10px;
  height: 15px;
  margin-top: 102px;
  margin-left: 10px;
  background: #FFFFFF;
  cursor: pointer;
}

div.cover {
  width: 120px;
  position: relative;
}

a.cover {
  width: 120px;
  height: 120px;
}

img.cover {
  width: 120px;
  height: 120px;
  object-fit:cover;
}

.card {
  border-style: none;
}

.card-body {
  position: relative;
  width: 120px;
  height: 100px;
}

.card-footer {
  border-style: none;
  background: none;
  position: absolute;
  bottom: 0px;
}