.link {
  position: relative;
}

div.cover {
  width: 120px;
  max-width: 120px;
  height: 220px;
  max-height: 220px;
  position: relative;

  border-style: solid;
  border-radius: 0% 0% 2% 2%;
  border-width: 1px 1px 1px 1px;
  border-color: #c8c8c8;
  background: #e9f0f2;
}

img.cover {
  width: 118px;
  max-width: 118px;
  height: 118px;
  max-height: 118px;
  object-fit:cover;
  cursor: pointer;
}

.card-body {
  padding: 4px;
}

.card-footer {
  border-style: none;
  background: none;
  position: absolute;
  bottom: 0px;
}