<div *ngIf="links && links.length != 0" class="link mt-3">
  <div *ngIf="app.isDesktop" class="backward" (click)="previous()">
    <span class="previous"></span>
  </div>
  <div id="{{type}}" class="d-flex flex-row flex-nowrap hscroll mt-2">
    <div *ngFor="let link of links" class="cover mr-2">
      <a [routerLink]="[type == 'albums' ? '/albums/' + link.id : '/shows/' + link.source + '/episodes/' + link.id]">
        <img *ngIf="link.coverM == null" class="cover" src="{{link.cover}}" loading="lazy"/>
        <img *ngIf="link.coverM != null" class="cover" src="{{link.coverM}}" loading="lazy"/>
      </a>
      <div class="card-body p-1">
        <h2 class="text-truncate-2" [innerHTML]="link.title"></h2>
        <h3 class="text-truncate-2" [innerHTML]="link.artist"></h3>
        <h3 *ngIf="link.type == 'podcast'" class="card-footer text-muted text-lowercase p-0">{{formatDate(link.date)}}</h3>
        <h3 *ngIf="link.type == 'album'" class="card-footer text-muted text-lowercase p-0">{{link.year}}</h3>
      </div>
    </div>
  </div>
  <div *ngIf="app.isDesktop" class="forward" (click)="next()">
    <span class="next"></span>
  </div>
</div>
