<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<!-- Spotify player-->
<div *ngIf="track" class="w-max ml-auto mr-auto fixed-bottom">
  <div class="player-spotify d-flex flex-row align-items-center p-2">
    <a class="cover" [routerLink]="['/docs/' + doc.id]">
      <img class="cover" src="{{track.item.album.images[2].url}}"/>
    </a>
    <div class="ml-2 w-100">
      <div class="text-white text-truncate-1">{{track.item.name + ' da '}}<span class="text-white font-weight-bold">{{track.item.album.name}}</span></div>
      <div class="text-white text-truncate-1">{{'di ' + track.item.artists[0].name}}</div>
    </div>
    <div class="text-white text-center">{{currentTime + '/' + duration}}</div>
    <div class="player-button ml-2" (click)="previousSpotify()">
      <span class="player-backward"></span>
    </div>
    <div class="player-button ml-4 mr-4" (click)="playPauseSpotify()">
      <span *ngIf="!track.is_playing" class="player-play"></span>
      <span *ngIf="track.is_playing" class="player-pause"></span>
    </div>
    <div class="player-button mr-2" (click)="nextSpotify()">
      <span class="player-forward"></span>
    </div>
    <div class="close" aria-label="Close" (click)="close()">
      <span class="text-white" aria-hidden="true">&times;</span>
    </div>
  </div>
</div>

<!-- Podcast player-->
<div *ngIf="audio" class="w-max ml-auto mr-auto fixed-bottom">
  <div class="player-spotify d-flex flex-row align-items-center p-2">
    <a class="cover" [routerLink]="['/docs/' + doc.id]">
      <img class="cover" src="{{audio.cover}}"/>
    </a>
    <div class="ml-2 w-100">
      <div class="text-white text-truncate-1 font-weight-bold">{{audio.title}}</div>
      <div class="text-white text-truncate-1">{{'di ' + audio.artist}}</div>
    </div>
    <div class="text-white text-center">{{currentTime + '/' + duration}}</div>
    <div class="player-button ml-2" (click)="backwardAudio()">
      <span class="player-backward"></span>
    </div>
    <div class="player-button ml-4 mr-4" (click)="playPauseAudio()">
      <span *ngIf="audio == null || audio.paused" class="player-play"></span>
      <span *ngIf="audio != null && !audio.paused" class="player-pause"></span>
    </div>
    <div class="player-button mr-2" (click)="forwardAudio()">
      <span class="player-forward"></span>
    </div>
    <div class="close" aria-label="Close" (click)="close()">
      <span class="text-white" aria-hidden="true">&times;</span>
    </div>
  </div>
</div>

<!-- Youtube player-->
<div *ngIf="youtube" class="d-flex flex-row justify-content-center w-max ml-auto mr-auto fixed-bottom">
  <div class="player-youtube">
    <iframe [src]='youtube' type="text/html" width="350" height="200" frameborder="0"></iframe>
    <div class="close" aria-label="Close" (click)="close()">
      <span class="text-white" aria-hidden="true">&times;</span>
    </div>
  </div>
</div>

<!-- Login -->
<div *ngIf="isDesktop" class="icon d-flex flex-row justify-content-center align-items-center ml-auto mr-2 mb-2 fixed-bottom">
  <a *ngIf="player == null" href="/api/login">
    <img class="spotify disabled"/>
  </a>
  <a *ngIf="player != null" (click)="loadDevices()">
    <img class="spotify">
  </a>
</div>

<!-- Error -->
<div *ngIf="error" class="d-flex flex-row justify-content-center w-max ml-auto mr-auto fixed-bottom">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <p class="text-center">{{error}}</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<!-- Events -->
<div *ngIf="events" class="d-flex justify-content-center modal-bg" (click)="closeEvents()">
  <div *ngIf="events.length != 0" class="align-self-center overflow-auto modal-content">
    <div class="list-group">
      <div *ngFor="let event of events" class="p-2 list-group-item">
        <div class="d-flex align-items-center">
          <div class="w-100">
            <div class="font-weight-bold">{{event.displayName}}</div>
            <div>{{event.start.date}} {{event.location.city}}</div>
            <div>{{event.venue.displayName}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="events.length == 0" class="align-self-center overflow-auto modal-content">
    <div class="d-flex flex-row justify-content-center align-items-center">
      <div class="font-weight-bold mt-3 mb-3">Nessun concerto in programma</div>
    </div>
  </div>
</div>

<!-- Sources -->
<div *ngIf="sources" class="d-flex justify-content-center modal-bg" (click)="toggleSources()">
  <div class="align-self-center overflow-auto modal-content">
    <div class="list-group">
      <div *ngFor="let source of sources" class="list-group-item">
        <a class="w-100" [routerLink]="['/podcast/' + source.source]">
          <div class="d-flex flex-row align-items-center">
            <img class="{{source.source}}" />
            <div class="font-weight-bold ml-3">{{source.desc}}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Loading -->
<div *ngIf="loading" class="d-flex justify-content-center modal-bg">
  <div class="align-self-center overflow-auto">
    <div class="spinner-grow" role="status"></div>
  </div>
</div>
