.list-group-item {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.player-youtube {
    position: relative;
    width: 370px;
    max-width: 370px;
    height: 200px;
    max-height: 200px;
    margin: 0px;
    padding: 0px;
    background: #000000;
}

.player-spotify {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 80px;
    max-height: 80px;
    margin: 0px;
    padding: 0px;
    background: #18A2B8;
}

.cover {
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
    cursor: pointer;
}

.alert {
    width: 100%;
    max-width: 800px;
    height: 40px;
    max-height: 40px;
}

.icon {
    width: 34px;
    height: 34px;
    background: #FFFFFF;

    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
}

.disabled {
    filter: grayscale(100%);
}

.progress {
    cursor: pointer;
}
