<div class="container-fluid bg-dark">
  <router-outlet></router-outlet>
  <footer class="page-footer font-small bg-dark text-white">
      <div class="footer-copyright text-center">
        <div><a href="https://creativecommons.org/" target="_blank"><span class="cc"></span></a></div>
        <div class="pb-2"><small>Per info o suggerimenti, contattatemi.</small></div>
        <div class="d-flex justify-content-center">
          <a class="pr-2" href="mailto:andrea.ricci@gmx.com"><span class="mail"></span></a>
          <a class="pr-2" href="https://github.com/joshua81/" target="_blank"><span class="github"></span></a>
          <a class="pr-2" href="https://www.linkedin.com/in/ricciandrea/" target="_blank"><span class="linkedin"></span></a>
        </div>
      </div>
    </footer>
</div>
