<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<!-- Spotify player-->
<div *ngIf="track" class="d-flex flex-row justify-content-center fixed-bottom">
  <div class="player-spotify d-flex flex-row align-items-center p-2">
    <img class="cover" src="{{track.item.album.images[2].url}}"/>
    <div class="ml-2 w-100">
      <div class="text-white text-truncate-1">{{track.item.name + ' da '}}<span class="text-white font-weight-bold">{{track.item.album.name}}</span></div>
      <div class="text-white text-truncate-1">{{'di ' + track.item.artists[0].name}}</div>
    </div>
    <div class="player-button ml-2" (click)="previousSpotify()">
      <span class="player-backward"></span>
    </div>
    <div class="player-button ml-4 mr-4" (click)="playPauseSpotify()">
      <span *ngIf="!track.is_playing" class="player-play"></span>
      <span *ngIf="track.is_playing" class="player-pause"></span>
    </div>
    <div class="player-button mr-2" (click)="nextSpotify()">
      <span class="player-forward"></span>
    </div>
    <div class="close" aria-label="Close" (click)="close()">
      <span class="text-white" aria-hidden="true">&times;</span>
    </div>
  </div>
</div>

<!-- Podcast player-->
<div *ngIf="audio" class="d-flex flex-row justify-content-center fixed-bottom">
  <div class="player-spotify d-flex flex-row align-items-center p-2">
    <img class="cover" src="{{audio.cover}}"/>
    <div class="ml-2 w-100">
      <div class="text-white text-truncate-1 font-weight-bold">{{audio.title}}</div>
      <div class="text-white text-truncate-1">{{'di ' + audio.artist}}</div>
    </div>
    <div class="text-white text-center">{{audioCurrentTime + '/' + audioDuration}}</div>
    <div class="d-flex flex-row align-items-center ml-2">
      <div class="player-button" (click)="backwardAudio()">
        <span class="player-backward"></span>
      </div>
      <div class="player-button ml-4 mr-4" (click)="playPauseAudio()">
        <span *ngIf="audio == null || audio.paused" class="player-play"></span>
        <span *ngIf="audio != null && !audio.paused" class="player-pause"></span>
      </div>
      <div class="player-button mr-2" (click)="forwardAudio()">
        <span class="player-forward"></span>
      </div>
    </div>
    <div class="close" aria-label="Close" (click)="close()">
      <span class="text-white" aria-hidden="true">&times;</span>
    </div>
  </div>
</div>

<!-- Youtube player-->
<div *ngIf="youtube" class="d-flex flex-row justify-content-center fixed-bottom">
  <div class="player-youtube d-flex flex-row align-items-center">
    <iframe [src]='youtube' type="text/html" width="350" height="200" frameborder="0"></iframe>
    <div class="close" aria-label="Close" (click)="close()">
      <span class="text-white" aria-hidden="true">&times;</span>
    </div>
  </div>
</div>

<!-- Events -->
<div *ngIf="events" class="d-flex justify-content-center modal-bg" (click)="closeEvents()">
  <div *ngIf="events.length != 0" class="align-self-center overflow-auto modal-box">
    <div class="list-group">
      <div *ngFor="let event of events" class="p-2 list-group-item">
        <div class="d-flex align-items-center">
          <div class="w-100">
            <div class="text-white font-weight-bold">{{event.displayName}}</div>
            <div class="text-white">{{event.start.date}} {{event.location.city}}</div>
            <div class="text-white">{{event.venue.displayName}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="events.length == 0" class="align-self-center overflow-auto modal-box">
    <div class="d-flex justify-content-center align-middle">
      <p class="text-white font-weight-bold pt-2">Nessun evento in programma</p>
    </div>
  </div>
</div>

<!-- Alert -->
<div *ngIf="error != null" class="d-flex flex-row justify-content-center fixed-bottom">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <p class="text-center">{{error}}</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
