.events-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    cursor: pointer;
}

.events {
    width: 80vw;
    max-width: 400px;
    max-height: 80vh;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    background-color: #FFFFFF;
}

.list-group-item {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.player-youtube {
    position: relative;
    width: 370px;
    max-width: 370px;
    height: 200px;
    max-height: 200px;
    margin: 0px;
    padding: 0px;
    background: #000000;
}

.player-spotify {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 80px;
    max-height: 80px;
    margin: 0px;
    padding: 0px;
    background: #18A2B8;
}

img.cover {
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
}

.alert {
    width: 100%;
    max-width: 800px;
    height: 40px;
    max-height: 40px;
}

.login {
    position: fixed;
    width: 30px;
    height: 30px;
    right: 10px;
    bottom: 10px;
}

img.login {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
}

.disabled {
    filter: grayscale(100%);
}
