div.cover {
    width: 50vw;
    max-width: 200px;
    padding: 2px;
    position: relative;
}
  
a.cover {
    width: calc(50vw - 4px);
    height: calc(50vw - 4px);
    max-width: 196px;
    max-height: 196px;
}
  
img.cover {
    width: calc(50vw - 4px);
    height: calc(50vw - 4px);
    max-width: 196px;
    max-height: 196px;
    object-fit:cover;
}
  
.card {
    border-style: none;
}
  
.card-body {
    position: relative;
    width: 50vw;
    max-width: 200px;
    height: 140px;
}
  
.card-footer {
    border-style: none;
    background: none;
    position: absolute;
    bottom: 0px;
}

.msg {
    min-height: calc(100vh - 166px);
}
  