p {
    height: 60px;

    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

div.cover {
    position: relative;
    width: 48%;
    max-width: 196px;
    margin: 2px;

    border-style: solid;
    border-radius: 0% 0% 2% 2%;
    border-width: 1px 1px 1px 1px;
    border-color: #c8c8c8;
    background: #e9f0f2;
    cursor: pointer;
}
  
img.cover {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit:cover;
}
  
.card-body {
    padding: 4px;
}
  
.card-footer {
    border-style: none;
    background: none;
    position: absolute;
    bottom: 0px;
}

.msg {
    min-height: calc(100vh - 40px);
}

.yesterday {
    position: absolute;
    top: 5px;
    right: 5px;
  
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #18A2B8;
}

span.plus {
    display: inline-block;
    mask: url("/images/plus.svg") no-repeat;
    width: 16px;
    height: 16px;
    margin-top: 6px;
    margin-left: 7px;
    padding: 0px;
    background: #408ea3;
    cursor: pointer;
}

div.plus {
    width: 32px;
    height: 32px;

    border-width: 2px;
    border-color: #408ea3;
    border-style: solid;
    cursor: pointer;
}
  