.icon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

span.search {
    display: inline-block;
    mask: url("/images/search.svg") no-repeat;
    width: 16px;
    height: 16px;
    background: #888888;
    cursor: pointer;
}

span.spotify {
    display: inline-block;
    mask: url("/images/spotify.svg") no-repeat;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 5px;
    background: #1DB954;
    cursor: pointer;
}

span.spotify-disabled {
    display: inline-block;
    mask: url("/images/spotify.svg") no-repeat;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 5px;
    background: #888888;
    cursor: pointer;
}
