*::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100%;
}

a {
    cursor: pointer;
    color: white;
    text-decoration: none !important;
}
a:hover {
    cursor: pointer;
    color: white;
    text-decoration: none !important;
}
  
h1 {
    font-size: 24px; 
}
  
h2 {
    font-size: 20px;
}
  
h3, p, li, a, div {
    font-size: 14px;
}

nav {
    opacity: 0.8;
    height: 50px;
}

div.container {
    max-width: 1200px;
}

img.musicbrainz {
    border-radius: 50%;
    content: url("/images/musicbrainz.png");
    width: 30px;
    height: 30px;
}

img.ondarock {
    border-radius: 50%;
    content: url("/images/ondarock.png");
    background: #FFFFFF;
    width: 30px;
    height: 30px;
}

img.musicalbox, img.inthemix, img.babylon {
    border-radius: 50%;
    content: url("/images/radio2.jpg");
    width: 30px;
    height: 30px;
}

img.spotify {
    border-radius: 50%;
    content: url("/images/spotify.png");
    width: 30px;
    height: 30px;
}

img.songkick {
    border-radius: 50%;
    content: url("/images/songkick.jpg");
    width: 30px;
    height: 30px;
}

.playbtn {
    display: inline-block;
    mask: url("/images/play.svg");
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    cursor: pointer;
}

.pausebtn {
    display: inline-block;
    mask: url("/images/pause.svg");
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    cursor: pointer;
}

.forwardbtn {
    display: inline-block;
    mask: url("/images/forward.svg");
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    cursor: pointer;
}

.backwardbtn {
    display: inline-block;
    mask: url("/images/backward.svg");
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    cursor: pointer;
}

.closebtn {
    display: inline-block;
    mask: url("/images/close.svg");
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    cursor: pointer;
}

.podcastbtn {
    display: inline-block;
    mask: url("/images/podcast.svg");
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    cursor: pointer;
}

.youtubebtn {
    display: inline-block;
    mask: url("/images/youtube.svg");
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    cursor: pointer;
}

.songkickbtn {
    display: inline-block;
    mask: url("/images/songkick.svg");
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    cursor: pointer;
}

.star {
    display: inline-block;
    mask: url("/images/star.svg");
    width: 20px;
    height: 20px;
    background: #FFFFFF;
}

.cc {
    display: inline-block;
    mask: url("/images/cc.svg");
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    cursor: pointer;
}

.mail {
    display: inline-block;
    mask: url("/images/mail.svg");
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    cursor: pointer;
}

.linkedin {
    display: inline-block;
    mask: url("/images/linkedin.svg");
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    cursor: pointer;
}

.github {
    display: inline-block;
    mask: url("/images/github.svg");
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    cursor: pointer;
}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    background: rgba(52, 58, 64, 0.75);
    cursor: pointer;
}

.hlist {
    cursor: pointer;
    overflow-x: auto;
  }

.modal-box {
    width: 80vw;
    max-width: 600px;
    max-height: 80vh;
    z-index: 40;
    background: rgba(52, 58, 64, 1);
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.container-fluid {
    min-height: 100%;
}

.list-group-item {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: white;
    cursor: pointer;
}

