a {
    cursor: pointer;
}
  
h1 {
    font-size: 24px; 
}
  
h2 {
    font-size: 20px;
}
  
h3 {
    font-size: 14px;
}
  
p {
    font-size: 14px;
}

li {
    font-size: 14px;
}

a {
    font-size: 14px;
}

img.musicbrainz {
    content: url("http://localhost:8180/images/musicbrainz.png");
    width: 20px;
    height: 20px;
}

img.ondarock {
    content: url("http://localhost:8180/images/ondarock.png");
    width: 20px;
    height: 20px;
}

img.musicalbox {
    content: url("http://localhost:8180/images/radio2.jpg");
    width: 20px;
    height: 20px;
}


