a {
    cursor: pointer;
}
  
h1 {
    font-size: 24px; 
}
  
h2 {
    font-size: 20px;
}
  
h3 {
    font-size: 14px;
}
  
p {
    font-size: 14px;
}

li {
    font-size: 14px;
}

a {
    font-size: 14px;
}

div {
    font-size: 14px;
}

div.container {
    max-width: 1200px;
}

img.musicbrainz {
    border-radius: 50%;
    content: url("http://localhost:8180/images/musicbrainz.png");
    width: 30px;
    height: 30px;
}

img.ondarock {
    border-radius: 50%;
    content: url("http://localhost:8180/images/ondarock.png");
    background: #FFFFFF;
    width: 30px;
    height: 30px;
}

img.musicalbox {
    border-radius: 50%;
    content: url("http://localhost:8180/images/radio2.jpg");
    width: 30px;
    height: 30px;
}

img.spotify {
    border-radius: 50%;
    content: url("http://localhost:8180/images/spotify.png");
    width: 30px;
    height: 30px;
}

img.songkick {
    border-radius: 50%;
    content: url("http://localhost:8180/images/songkick.jpg");
    width: 30px;
    height: 30px;
}

.play {
    display: inline-block;
    mask: url("http://localhost:8180/images/play.svg");
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    opacity: 0.9;
    cursor: pointer;
}

.pause {
    display: inline-block;
    mask: url("http://localhost:8180/images/pause.svg");
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    opacity: 0.9;
    cursor: pointer;
}

.forward {
    display: inline-block;
    mask: url("http://localhost:8180/images/forward.svg");
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    opacity: 0.9;
    cursor: pointer;
}

.backward {
    display: inline-block;
    mask: url("http://localhost:8180/images/backward.svg");
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    opacity: 0.9;
    cursor: pointer;
}

.youtube {
    display: inline-block;
    mask: url("http://localhost:8180/images/youtube.svg");
    width: 30px;
    height: 30px;
    background: #FF0000;
    cursor: pointer;
}

.star {
    display: inline-block;
    mask: url("http://localhost:8180/images/star.svg");
    width: 20px;
    height: 20px;
    background: #FFFFFF;
}
