img.cover {
    width: 30px;
    height: 30px;
    object-fit:cover;
}

.button {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
.previous {
    display: inline-block;
    mask: url("/images/previous.svg") no-repeat;
    width: 10px;
    height: 15px;
    background: #000000;
    cursor: pointer;
  }