<div class="pt-3 row">
  <div class="col-md-auto cover">
    <img class="cover rounded" src="{{artist.cover}}"/>
  </div>
  <div class="col-md-auto text-white pt-2">
    <h1>{{artist.artist}}</h1>
    <h3 *ngIf="artist.authors != null">di {{artist.authors}}</h3>
  </div>
</div>

<p class="pt-3 text-justify text-white" [innerHTML]="artist.review"></p>

<div *ngIf="links != null" class="list-group w-100 h-100">
  <a *ngFor="let link of links" [routerLink]="[link.url]"
    class="link p-1 list-group-item list-group-item-action text-truncate">
    <img class="link" src="{{link.cover}}">
    {{link.title}}
  </a>
</div>
