.menu-item {
    width: 60px;
    min-width: 60px;
    height: 30px;
    padding-top: 4px;
    text-align: center;
    cursor: pointer;
    border-bottom: 4px solid #FFFFFF;
}

.selected {
    border-bottom: 4px solid #18A2B8;
}

.search {
    min-width: 200px;
    max-width: 200px;
}

/*img:hover {
    -webkit-transform: scale(1.6) rotate(0.01deg);
    transform: scale(1.6) rotate(0.01deg);
}*/

/*.source-selected {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}*/
